/* #efe4d7 beige color navbar */
/* #5B5B5B greys/blacks navbar  */

.whole-navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background: #5b5b5b;
  display: flex;
  flex-direction: row;
  color: whitesmoke;
}

.navbar-text {
  float: left;
  display: block;
  color: #efe4d7;
  text-align: center;
  padding: 7px 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.links-right {
  padding: 0px 100px;
}

.justify-between {
  justify-content: space-between;
}

.navbar-icon {
  float: right;
  display: block;
  padding: 7px 17px;
}

.whole-navbar a:hover {
  color: white;
}

.main-div {
  text-align: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./local_images/DSC03920.jpg');
  background-size: cover;
}

/* html {
  background: url('./local_images/DSC03920.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.main-text {
  text-align: center;
  position: fixed;
  /* padding-right: 50%; */
  top: 20%;
  right: 55%;
  left: 20%;
}

.aboutme-text {
  background: rgba(202, 202, 202, 0.6);
  text-align: left;
  position: fixed;
  /* padding-right: 50%; */
  top: 10%;
  right: 50%;
  left: 20%;
  /* margin-top: -50px; */
  /* margin-right: -100px; */
}

.project-div {
  background-color: beige;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 160px;
}

.links-div {
  background-color: beige;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 160px;
}
