.whole-navbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: rgba(202, 202, 202, 0.6);
  display: flex;
  flex-direction: row;
  color: whitesmoke;
}

.navbar-text {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 7px 40px;
  text-decoration: none;
  font-size: 24px;
}

.links-right {
  padding: 0px 100px;
}

.justify-between {
  justify-content: space-between;
}

.navbar-icon {
  float: right;
  display: block;
  padding: 7px 17px;
}

.whole-navbar a:hover {
  color: red;
}

.main-div {
  /* margin-left: 160px; Same as the width of the sidebar */
  /* padding: 0px 10px; */
  text-align: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./local_images/DSC03920.jpg');
  background-size: cover;
}

.project-div {
  background-color: beige;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 160px;
}

.links-div {
  background-color: beige;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 160px;
}
