@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --background-color-light: #efe4d7;
  --background-color-dark: #5b5b5b;
}

body {
  background: var(--background-color-light);
  margin: 0;
  font-family: 'Poppins';
}

nav {
  background: var(--background-color-dark);
  position: fixed;
  width: 100vw;
  z-index: 1;

  .navbar-text {
    font-weight: bold;
    color: #efe4d7;
    // font-size: 16px;
    font-size: 1.2rem;
    padding: 10px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
  }

  li {
    float: right;
    padding-right: 1.4vw;
    // padding-left: 2vw;
  }

  li a {
    display: inline-block;
    color: #efe4d7;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    // font-size: 16px;
    font-size: 1.2rem;
    padding-right: 1vw;
    padding-left: 2vw;
  }
}

.main-section {
  background-color: var(--background-color-light);
  background-image: url('./local_files/DSC03920.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  .main-text {
    font-size: calc(16px + 6 * (100vw / 680));
    width: 50vw;
    padding-left: 5vw;
    padding-top: 20vh;
    text-align: center;
  }
}

.aboutme-section {
  background-color: #efe4d7;
  display: flex;
  flex-direction: row;
  padding-top: 3vh;
  padding-bottom: 3vh;
  // height: 95vh;
  width: 100vw;
  h1 {
    font-size: calc(3vw + 2px);
  }
  .aboutme-text {
    text-align: left;
    padding-right: 1vw;
    padding-top: 7%;
    font-size: 1.3vw;
  }

  .aboutme-portrait {
    object-fit: contain;
    width: 100%;
    // height: auto;
    max-width: 40vw;

    padding-right: 4vw;
    // padding-top: 7%;
    padding-left: 2vw;
    // border-radius: 3em;
  }
}

.skillset-section {
  background: #5b5b5b;
  // height: 95vh;
  width: 100vw;
  .skillset-text {
    color: #efe4d7;
    text-align: center;
    padding-top: 3%;
    font-size: calc(1.5vw + 2px);
    .credentials {
      font-size: 3vw;
    }
  }

  .skillset-icons-div-1 {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }

  .skillset-icons-div-2 {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }

  .skillset-icon-box {
    height: 10vw;
    width: 10vw;
    margin: 2vw;
    background: #727272;
    border: 1px solid #5f5f5f;
    box-shadow: 0px 1px 21px 9px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    .skillset-icon-text {
      color: #efe4d7;
      font-size: calc(1.5vw + 2px);
    }
  }

  .skillset-icon {
    object-fit: contain;
    width: 70%;
    height: 70%;
    padding-top: 1vh;
  }
}

.project-section {
  background-color: #efe4d7;
  padding-top: 3%;
  padding-bottom: 5%;
  height: 95vh;
  width: 100vw;
  align-items: center;
  text-align: center;
  .carousel {
    padding-top: '5vh';
    z-index: '0';
    .carousel-item {
    }
    .carousel-caption {
    }
  }
}
